# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__OBJECTIVE__
* TITLE
* INTRODUCTION
* DS LANGUAGES
* DS LIBRARIES
* DS TOOLS
* ARITHMATIC EXPRESSION
* AUTHOR

1. Python
2. R
3. Java

* Numpy
* Pandas
* Seaborn

|Data Science|
|------------|
|Python|
|R Studio|
|Java|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
BOBBAI THOMAS